<body class="fundo-componente0">
  <html class="config" align=" left">

  <head>
  </head>

  <br>
  <h1 class="config">Bem vindo a Nuvem Segura!</h1><br>
  <h4>
  <p>Nós da Nuvem Segura, estamos sempre inovando para alcançar a melhor forma de atender nossos clientes,</p>
  <p>buscando a sua comodidade e segurança para promover a melhor experiência possível a você!</p>
  <br>
  <p>Venha fazer parte da Nuvem Segura, realize o seu cadastro e sinta-se protegido além das expectativas!
  </p></h4>



  </html>
</body>
