

<header  align="center">
  <br><br>
<h2>Nuvem Segura</h2>
</header>

    <link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/primeicons@1.0.0/primeicons.css' />
    <link rel='stylesheet' type='text/css'
      href='https://cdn.jsdelivr.net/npm/primeng@8.0.2/resources/themes/nova-light/theme.css' />
    <link rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/primeng@8.0.2/resources/primeng.min.css' />

    <h3 class="first" style="color: rgb(38, 97, 224)"> Menu </h3>
    <p-tabMenu class="menu" [model]=" items "></p-tabMenu>

<router-outlet >

</router-outlet>



<footer  align="center">
  <br>
  <h2>Nuvem Segura</h2>
  <h6>Nuvem Segura / Endereço Rua Progamadores, 0101 - Santa Maria, RS - 01010-0101/ nuvem-segura@suport.com</h6>
<h5>Desenvolvido por Wagner R. para Empresa ATOS.</h5><br>
</footer>
