<div class="fundo-component2 sectionLogin">
  <div class="divLogin">
    <form class="example-form example">
      <mat-form-field class="example">
        <mat-label>Usuario</mat-label>
        <input type="text" matInput pInputText [(ngModel)]="usuario" name="usuario">
      </mat-form-field>

      <mat-form-field class="example">
        <mat-label>Senha</mat-label>
        <input type="password" matInput pInputText [(ngModel)]="senha" name="senha">
      </mat-form-field>

          <mat-form-field class="example">
            <mat-label>Email</mat-label>
            <input type="text" matInput pInputText [(ngModel)]="email" name="email">
          </mat-form-field>
          </form>



    <button class="exemplo-label" pButton mat-raised-button type="button" label="CADASTRO" (click)="validaLogin()" routerLink="/newcadastro-page/"></button><br><br>
  </div>
</div>
