
.sectionLogin{
    margin: 0 auto;
    height: 100%;
    width:  100%;
    color: rgba(190, 190, 190, 0.144);
    border:2px solid black;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.divLogin{
    width: 50%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}
.exemplo-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  color: rgb(16, 17, 9);
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(255, 195, 117) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(94, 64, 0) !important;
}

::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color: rgb(150, 90, 0) !important;;
}
