
.sectionLogin{
    margin: 0 auto;
    height: 100%;
    width:  100%;
    color: rgba(190, 190, 190, 0.144);
    border:2px solid black;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.divLogin{
    width: 50%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}
