<div class="sectionLogin">
  <div class="divLogin">
    <form class="example-form example">
      <mat-form-field class="example">
        <mat-label>Usuario</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="example">
        <mat-label>Senha</mat-label>
        <input type="password" matInput>
      </mat-form-field>
    </form>



    <button pButton mat-raised-button type="button" label="LOGAR" (click)="validaLogin()"></button>
    <button pButton mat-raised-button type="button" label="CADASTRO" routerLink="/newcadastro-page/"></button><br><br>
  </div>
</div>
