
<p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>

<div class="container">

  <div class="row">

    <div class="col-md-9" style="margin-bottom: 40px">

      <h3>Upload</h3>
    <!--   <p>Queue length: {{ uploader?.queue?.length }}</p> -->

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Nome</th>
            <th>Tamanho</th>
            <th>Progresso</th>
            <th>Estado</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="uploader.options.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()"
                [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <div>
          Progresso:
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ></div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-s" >
          <span class="glyphicon glyphicon-upload"></span> Upload de todos.
        </button>
        <button type="button" class="btn btn-warning btn-s" >
          <span class="glyphicon glyphicon-ban-circle"></span> Cancelar todos
        </button>
        <button type="button" class="btn btn-danger btn-s" >
          <span class="glyphicon glyphicon-trash"></span> Remover todos.
        </button>
      </div>

    </div>

        <div class="col-md-3">

          <h3>Selecione os arquivos</h3>
          <div>
            <h3>Áudio</h3>
            <input type="file" ng2FileSelect multiple /><br />
          </div>
          <br>
          <div>
            <h3>Video</h3>
              <input type="file" ng2FileSelect  multiple /><br />

          </div>


        </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Response</div>
        <div class="panel-body">
        <!--  {{ response }} -->
        </div>
      </div>
    </div>
  </div>
</div>
